/*@import './vendors/';*/
@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './bases/reset.scss';
/*@import './layout/reset.scss';*/
@import './pages/restaurant.scss';
@import './pages/loader.scss';
@import './components/buttons.scss';
/*@import './themes/';*/



/* Logo */

.header {
    position:relative;
    margin:0 auto;
    width: 100%;
    height: auto;
    border-bottom : 1px solid rgb(202, 202, 202);
    box-shadow: 0px 3px 10px rgb(200, 199, 199);
    @include flex-format;
         & img {
            transform:scale(0.5);}       
}
        /* MAIN CONTENT */


.main {
    
    @include flex-format;
    flex-direction: column;
    width: 100%;
    height: auto;
    
        &_localisation  {
            height: auto;
            margin:0 auto;
            width: 100%;
           @include flex-format;
            @include text-bold; 
        }   
/* Section including "Explore" button */           
}
.discovery {
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin:0 auto;
    @include flex-format;
    background-color:$background-section ;
    flex-direction: column;
    text-align: center;
        &__heading {
            margin:30px 120px 10px 120px;           
        }
        &__secondary {
            color:lighten($color: #000000, $amount: 40);
            margin:0 100px;
        }      
}
/* gradient "explore" button */
.discovery
   button {
    @include btn-gradient;
    color:white;
} 
        /* PROCESS SECTION*/

/* process panel */
.process__wrapper {
    width: 100%;
    background-color:white;
    @include flex-format;
    justify-content: flex-start;
}
.process {
   width:100%;
    @include flex-format;
    flex-direction: column;
    

/* Heading panel*/
        &__heading {
            width:350px; 
        }

        &__container {
            width: 100%;
             @include flex-format;
            flex-direction: column;
    }
/* Process panel buttons display*/
        &__step {
            width: 100%;
            @include flex-format;
            @include panel-button;
            justify-content: flex-start;
            
        }
        &__level {
            @include btn-number;
        }
        &__icon {
            @include process-icon;
        }
        &__content {
            @include text-bold;
        }
}
        /* RESTAURANT SECTION */

.restaurant {
    width: 100%;
    height: auto;
    margin:0 auto;

    &__heading {
        width: 350px;
    }
    
    &__wrapper {
        margin:0 auto;
        width: auto;
        height: 100%;
        @include flex-format;
        flex-direction: column;
        background-color: $background-section;
    }

    &__container {
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap:20px;
    }
    /* Restaurant card link */
    &__link {
        margin:15px 0;
        width: 100%;
        height: auto;
        background-color:#fff;
        border-radius: 20px;
        box-shadow: $btn-shadow;  
    }
    /* "new" box display */
    &__new {
        @include flex-format;
        margin-top: 20px;
        width: 100px;
        height: 35px;
        position: absolute;
        transform:translateX(225%);
        background-color:$tertiaty;
        color:darken($color: $tertiaty, $amount: 30);
        font-weight: bold;
    }
    /* restaurant Identy Card */
    &__card {  
        margin-bottom: 20px;
        display:flex;
        flex-direction: column;
        height: auto;
        min-width: 350px;;
        img {
            @include restaurant-pic;
        } 
       
    }
       
    &__description {
        margin-top: 20px;
        position: relative;
        @include flex-format;
        justify-content: space-between;
        }
            /* Identity Restaurant formatting */
        &__identity {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content:flex-start ;
            margin:0;
             }
            /* First line with the bold-style name */
        &__name {
            margin:0;
            @include text-bold;
            }
            /* Second line with the locality*/
        &__location {
            margin:0;
            }
            /* "Like" section */
        &__like {
                    @include flex-format;
                    width: 30px;
                    padding-right: 20px;                 
                    } 
}
        /* FOOTER SECTION */

.footer {
    width: 100%;
    margin:0 auto;
    @include flex-format;
    
    &__wrapper {
        width: 100%;
        height: 100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lighten($color: #000000, $amount: 25%);
        color:white;
        }

    & a {
        color:white;
            &:hover {
                text-decoration: underline;
            }   
    }

    &__links {
        width: 350px;
        display: flex;
        flex-direction:column ;
        gap:10px;
    }
    &__heading {
        margin-top: 10px;
       
    }

    & i {
        margin-right: 10px;
    }

}


        
       
 
               
   

