.restaurant {
    
    width: 100%;
    height: auto;
    margin:0 auto;

    &__heading {
        width: 90%;
        font-weight: bold;
        font-size: map-get($font-sizes, SectionHeading);
    }
    
    &__wrapper {
        margin:0 auto;
        max-width: 600px;
        height: 100%;
        @include flex-format;
        flex-direction: column;
        background-color: $background-section;
    }

    &__container {
        width: 90%;
        margin:0px 10px 0px 10px;
        display:flex;
        flex-direction: column;
        gap:20px;
        
       
        
    }
    /* Restaurant card link */
    &__link {
        margin:15px auto;
        width: 100%;
        height: auto;
        background-color:$whiteBg;
        border-radius: map-get($border-radius, Card);
        box-shadow: $btn-shadow; 
        &:hover {
           box-shadow: $shadowHover;
           transition:map-get($durations, ShadowHover);
        } 
    }
   
   
    /* restaurant Identy Card */
    &__card {  
        position: relative;
        margin-bottom: 20px;
        display:flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        & img {
            @include restaurant-pic;
           
        } 
        /* "New" box Display*/
        &--new {
           
            @include flex-format;
            margin-top: 20px;
            right:20px;
            width: 100px;
            height: 35px;
            border-radius: map-get($border-radius, boxNew);
            position: absolute;
            background-color:map-get($Palette, Tertiary);
            color:darken($color: $tertiaty, $amount: 30);
            font-weight: bold;
        }
       
    }
       
    &__description {
        margin-top: 20px;
        position: relative;
        @include flex-format;
        justify-content: space-between;
        }
            /* Identity Restaurant formatting */
        &__identity {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content:flex-start ;
            margin:0;
             }
            /* First line with the bold-style name */
        &__name {
            margin:0;
            @include text-bold;
            }
            /* Second line with the locality*/
        &__location {
            margin:0;
            }
            /* "Like" section */
        &__like {
                    @include flex-format;
                    width: 30px;
                    padding-right: 20px;                 
                    } 
}