/*@import './vendors/';*/
/* Process step stlye */
/* GENERAL RULES*/
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: roboto, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

/*Text Uppercase Necessity*/
.uppercase {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

/* Process button */
/* Explore Button*/
/* Heart transition button */
.empty {
  max-width: 28px;
  position: absolute;
  stroke: black;
  fill: white;
}

.full {
  max-width: 34px;
  position: relative;
  fill: url(#fill-heart);
  opacity: 0;
}
.full:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

/* Logo */
.header {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  transform: scale(0.5);
}

#processus {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.process__button {
  padding: 0;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #f7f8f8;
  box-shadow: 2px 4px 8px #b1afaf;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.process__button:hover {
  box-shadow: 2px 4px 8px 3px #b1afaf;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff9fd;
}
.process__button:hover i {
  color: #9356DC;
}
.process__number {
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  overflow: visible;
}
.process__icon {
  margin: 0 20px;
  color: #b1afaf;
  font-size: 1.2rem;
}
.process__content {
  font-weight: bold;
}

.num {
  position: relative;
  font-weight: bold;
  font-family: roboto;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  color: #828585;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: roboto;
  font-weight: bold;
}

.restaurant {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* Restaurant card link */
  /* "new" box display */
  /* restaurant Identy Card */
  /* Identity Restaurant formatting */
  /* First line with the bold-style name */
  /* Second line with the locality*/
  /* "Like" section */
}
.restaurant__heading {
  width: 90%;
}
.restaurant__wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
}
.restaurant__container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.restaurant__link {
  margin: 15px 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 8px #b1afaf;
}
.restaurant__new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  position: absolute;
  right: 20%;
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
}
.restaurant__card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 350px;
}
.restaurant__card img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__description {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.restaurant__identity {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.restaurant__name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.restaurant__location {
  margin: 0;
}
.restaurant__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding-right: 20px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404040;
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__links {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__heading {
  margin-top: 10px;
}
.footer i {
  margin-right: 5px;
}

#fixed {
  width: 100%;
  position: fixed;
}

.page-header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}

.menu {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  transform: translateY(50%);
  background-color: #f9f9f9;
}
.menu__header {
  margin: 0 auto;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  height: 100%;
}
.grid__title--uppercase {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.grid__title--underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.list {
  width: 100%;
  min-height: 230px;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list__buttonList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #f7f8f8;
  box-shadow: 2px 4px 8px #b1afaf;
}
.list__buttonList:hover {
  box-shadow: 2px 4px 8px 3px #b1afaf;
  transition: 0.2s;
  cursor: pointer;
}
.list__starters {
  display: flex;
  flex-direction: column;
}
.list__starters--flex {
  width: 90%;
}
.list__starters--bold {
  font-weight: bold;
  margin: 0;
  padding-left: 20px;
}
.list__starters--undertitle {
  margin: 0;
  padding-left: 20px;
}
.list__starters--price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: wrapper 4s linear;
  visibility: hidden;
  z-index: 500;
}

@keyframes wrapper {
  0% {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    visibility: hidden;
  }
  100% {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    opacity: 0.9;
    visibility: visible;
  }
}
.loader {
  border: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  z-index: 1000;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: loader 4s linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
  }
  25% {
    transform: rotate(180deg) scale(1.15);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
  50% {
    transform: rotate(360deg) scale(0.85);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
  }
}
/*@import './themes/';*/
/* MAIN CONTENT */
.main {
  width: 100%;
  height: auto;
  /* Section including "Explore" button */
}
.main_localisation {
  height: auto;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #dfdfdf;
}
.main_localisation i {
  margin: 0 10px;
}

.discovery {
  width: 100%;
  height: auto;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  flex-direction: column;
  text-align: center;
}
.discovery__heading {
  margin: 30px 120px 10px 120px;
}
.discovery__secondary {
  color: #666666;
  margin: 0 100px;
}

/* gradient "explore" button */
.discovery button {
  margin: 20px 0;
  border-radius: 30px;
  width: auto;
  padding: 0 20px;
  height: 50px;
  border: none;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 2px 4px 8px #b1afaf;
  color: white;
  font-weight: bold;
}
.discovery button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 3px 7px grey;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
