/*@import './vendors/';*/
/*@mixin btn-gradient {
    margin:20px 0;
    border-radius: 30px;
    width: auto;
    padding:0 20px;
    height: 40px;
    border:none;
    background:$background-gradient;
    box-shadow: $btn-shadow;
        &:hover {
            opacity:0.80;
            cursor:pointer; 
            box-shadow:3px 3px 7px  grey;
            transition:0.3s;   
        }  
}
*/
/* Process step stlye */
/* GENERAL RULES*/
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: roboto, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

/*Text Uppercase Necessity*/
.uppercase {
  text-transform: uppercase;
}

/*@import './layout/reset.scss';*/
.page-header img {
  width: 100%;
  height: auto;
}

.loader {
  height: 100%;
  width: 100%;
  border: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: loader 4s linear;
}
.loader__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  background-color: white;
  opacity: 0.9;
  /* visibility:hidden;*/
}

@keyframes loader {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    visibility: visible;
  }
  25% {
    transform: rotate(0deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    opacity: 0.8;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    opacity: 0.3;
  }
  100% {
    transform: rotate(720deg) scale(0.85);
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    opacity: 1;
    visibility: hidden;
  }
}
/* Explore Button*/
/* Heart transition button */
.empty {
  max-width: 23px;
  position: absolute;
  stroke: black;
  fill: white;
}

.full {
  max-width: 25px;
  position: relative;
  fill: url(#fill-heart);
  opacity: 0;
}
.full:hover {
  opacity: 1;
  transition: 0.5s;
}

/*@import './themes/';*/
/* Logo */
.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0px 3px 10px #c8c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  transform: scale(0.5);
}

/* MAIN CONTENT */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* Section including "Explore" button */
}
.main_localisation {
  height: auto;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.discovery {
  width: 100%;
  height: auto;
  margin-top: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  flex-direction: column;
  text-align: center;
}
.discovery__heading {
  margin: 30px 120px 10px 120px;
}
.discovery__secondary {
  color: #666666;
  margin: 0 100px;
}

/* gradient "explore" button */
.discovery button {
  margin: 20px 0;
  border-radius: 30px;
  width: auto;
  padding: 0 20px;
  height: 40px;
  border: none;
  background: linear-gradient(160deg, #ff79da, #9356dc);
  box-shadow: 2px 4px 8px #b1afaf;
  color: white;
}
.discovery button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 3px 7px grey;
  transition: 0.3s;
}

/* PROCESS SECTION*/
/* process panel */
.process__wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.process {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Heading panel*/
  /* Process panel buttons display*/
}
.process__heading {
  width: 350px;
}
.process__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.process__step {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  width: 50%;
  padding-right: 70px;
  border-radius: 15px;
  box-shadow: 2px 4px 8px #b1afaf;
  cursor: pointer;
  position: relative;
  justify-content: flex-start;
}
.process__step:hover {
  background: #f2eafb;
  opacity: 0.8;
  transition: 0.3s ease-in;
  box-shadow: 2px 5px 10px grey;
}
.process__level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  transform: translateX(-50%);
  overflow: visible;
}
.process__icon {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #b1afaf;
  margin: 0 15px;
  font-size: 1.2em;
}
.process__content {
  font-weight: bold;
  font-size: 16px;
}

/* RESTAURANT SECTION */
.restaurant {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* Restaurant card link */
  /* "new" box display */
  /* restaurant Identy Card */
  /* Identity Restaurant formatting */
  /* First line with the bold-style name */
  /* Second line with the locality*/
  /* "Like" section */
}
.restaurant__heading {
  width: 350px;
}
.restaurant__wrapper {
  margin: 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f9f9f9;
}
.restaurant__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.restaurant__link {
  margin: 15px 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 8px #b1afaf;
}
.restaurant__new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  position: absolute;
  transform: translateX(225%);
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
}
.restaurant__card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 350px;
}
.restaurant__card img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__description {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.restaurant__identity {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.restaurant__name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.restaurant__location {
  margin: 0;
}
.restaurant__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding-right: 20px;
}

/* FOOTER SECTION */
.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404040;
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__links {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__heading {
  margin-top: 10px;
}
.footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
