/* GLOBAL VARIABLES*/
/* Button and boxes shadows*/
/* grandient color for Explore and command button */
/* Menu sections*/
/* Rotation Degrees */
/* RESPONSIVE BREKPOINT */
/* RADIUS MAP */
/* DURATIONS FOR TRANSISITIONS / ANIMATIONS / HOVER EFFECT MAP */
/* FONT-SIZES MAP */
/* MAIN COLORS PALETTE */
/* COLORS PALETTE */
/* Flex Format PreStyle*/
/* Title Menu Style */
/* Process step stlye */
/* Step Number in process button */
/* Icon in process button */
/* Pics display in restaurants cards display*/
/* Shadow when hover with ligthen color background */
/* menu Margin & padding preformatting */
/* text menu formatting*/
/* underline for Type of dishes in menu */
/* Type of Dishes Title Style*/
/* GENERAL RULES*/
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: roboto, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

/*Text Uppercase Necessity*/
.uppercase {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

h1 {
  font-family: shrikhand;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  padding: 0;
}

/* Process button */
/* Explore Button*/
/* Heart transition button */
.empty {
  max-width: 28px;
  position: absolute;
  right: 20px;
  stroke: black;
  fill: white;
}

.full {
  max-width: 32px;
  right: 18px;
  position: absolute;
  fill: url(#fill-heart);
  opacity: 0;
}
.full:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

/* Logo */
.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cacaca;
  box-shadow: 2px 4px 8px 3px #b1afaf;
}
.header__logo {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo--img {
  transform: scale(0.4);
}

/* main container & localisation Icon */
.main {
  width: 100%;
  height: auto;
}
.main__localisation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #dbd7d7;
  /* input field formatting */
}
.main__localisation i {
  margin: 0 10px;
}
.main__localisation input {
  width: 120px;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-family: roboto;
}
.main__localisation input::placeholder {
  color: #000000;
  font-size: 16px;
  opacity: 1;
}

/* Dicovery section including gradient-button */
.discovery {
  width: 100%;
  height: auto;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  flex-direction: column;
  text-align: center;
}
.discovery__heading {
  margin: 30px 120px 10px 120px;
  font-weight: bolder;
  font-size: 26px;
}
.discovery__secondary {
  color: #666666;
  margin: 0 100px;
  font-size: 22px;
}

/* gradient "explore" button */
.discovery button {
  margin: 20px 0;
  border-radius: 30px;
  width: auto;
  padding: 0 20px;
  height: 50px;
  border: none;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 2px 4px 8px #b1afaf;
  color: #fff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.discovery button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 3px 7px 3px grey;
  transition: 0.3s;
}

/* PROCESS PANEL */
#processus {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROCESS STEPS STYLE */
.process {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.process__header {
  font-weight: bold;
  font-size: 22px;
}
.process__button {
  padding: 0;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 2px 4px 8px #b1afaf;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.process__button:hover {
  box-shadow: 2px 4px 8px 3px #b1afaf;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff9fd;
}
.process__button:hover i {
  color: #9256dc;
}
.process__number {
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9256dc;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  overflow: visible;
}
.process__icon {
  margin: 0 20px;
  color: #b1afaf;
  font-size: 1.2rem;
}
.process__content {
  font-weight: bold;
}

.restaurant {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* Restaurant card link */
  /* restaurant Identy Card */
  /* Identity Restaurant formatting */
  /* First line with the bold-style name */
  /* Second line with the locality*/
  /* "Like" section */
}
.restaurant__heading {
  width: 90%;
  font-weight: bold;
  font-size: 22px;
}
.restaurant__wrapper {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}
.restaurant__container {
  width: 90%;
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant__link {
  margin: 15px auto;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 8px #b1afaf;
}
.restaurant__link:hover {
  box-shadow: 2px 4px 8px 3px #b1afaf;
  transition: 0.3s;
}
.restaurant__card {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /* "New" box Display*/
}
.restaurant__card img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__card--new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  right: 20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  background-color: #99E2D0;
  color: #31af90;
  font-weight: bold;
}
.restaurant__description {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.restaurant__identity {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.restaurant__name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.restaurant__location {
  margin: 0;
}
.restaurant__like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding-right: 20px;
}

.footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.footer__links {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__heading {
  margin-top: 10px;
}
.footer i {
  width: 15px;
  margin-right: 12px;
}

/* haeder with logo */
#fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* back arrow */
.back {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  position: absolute;
}

/* background image display */
.page-header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}

/* main container display*/
.menu {
  position: absolute;
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(35%);
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}
.menu__header {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Type of dishes titles with green underline */
.menu-container {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.menu-container__firstHead {
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.menu-container__firstHead::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

/* button style & display */
.list-items {
  opacity: 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: apparition 1s ease-out forwards;
  /* boucle for delay between the dishes containers */
  /* button content */
}
.list-items--1 {
  animation-delay: 0.5s;
}
.list-items--2 {
  animation-delay: 1s;
}
.list-items--3 {
  animation-delay: 1.5s;
}
.list-items__button {
  padding: 0;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 2px 4px 8px #b1afaf;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.list-items__button:hover {
  box-shadow: 2px 4px 8px 3px #b1afaf;
  cursor: pointer;
}
.list-items__button:hover .checkbox {
  /* transition with check */
  transform-origin: right;
  width: 100px;
  transition: 0.6s cubic-bezier(0.18, 0.74, 0.81, 1.09);
}
.list-items__button:hover .checkbox i {
  color: #fff;
  transform: rotate(720deg);
  transition: all 0.6s ease-in-out;
}
.list-items__flexcontent {
  margin: 0;
  padding-left: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.list-items__flexcontent--bold {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-items__flexcontent--underline {
  max-width: 90%;
  margin: 0;
  color: #b1afaf;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-items__flexcontent--price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding-right: 20px;
  overflow: visible;
}

/* check validation formatting */
.checkbox {
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.checkbox i {
  color: transparent;
  font-size: 24px;
}

/* "Command" Button */
.command {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.command__btn-gradient {
  margin: 20px 0;
  border-radius: 30px;
  width: auto;
  padding: 0 20px;
  height: 50px;
  border: none;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 2px 4px 8px #b1afaf;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.command__btn-gradient:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 3px 3px 7px 3px grey;
  transition: 0.3s;
}

/* BACKGROUND LOADER */
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  animation: wrapper 3s linear;
  visibility: hidden;
  z-index: 500;
}
.loader__text {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.t {
  font-family: Shrikhand;
  font-size: 30px;
  color: #9256dc;
  letter-spacing: 15px;
  opacity: 0;
  animation: LoaderText 3s linear;
}
.t:nth-child(1) {
  animation-delay: 0.05s;
}
.t:nth-child(2) {
  animation-delay: 0.1s;
}
.t:nth-child(3) {
  animation-delay: 0.15s;
}
.t:nth-child(4) {
  animation-delay: 0.2s;
}
.t:nth-child(5) {
  animation-delay: 0.25s;
}
.t:nth-child(6) {
  animation-delay: 0.3s;
}
.t:nth-child(7) {
  animation-delay: 0.35s;
}
.t:nth-child(8) {
  animation-delay: 0.4s;
}
.t:nth-child(9) {
  animation-delay: 0.45s;
}
.t:nth-child(10) {
  animation-delay: 0.5s;
}

/* WRAPPER ANIMATION */
@keyframes wrapper {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
@keyframes LoaderText {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px 2px #ff7ad9;
  }
  25% {
    opacity: 1;
  }
  50% {
    color: #99E2D0;
    text-shadow: #99E2D0;
  }
  90% {
    color: #9256dc;
    text-shadow: #9256dc;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px 2px #ff7ad9;
    opacity: 1;
  }
}
/* MENU BLOCK ANIMATION*/
@keyframes apparition {
  0% {
    transform: translatey(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(-10%);
  }
}
@media screen and (min-width: 800px) {
  /* Loader */
  .t {
    font-size: 60px;
  }

  /* Process setps display */
  #processus {
    display: flex;
    flex-direction: row;
  }
  #processus .process {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  #processus .process__display {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #processus .process__button {
    max-width: 350px;
  }

  /* responsive for Restaurants Cards Display*/
  .restaurant {
    width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
  }
  .restaurant__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .restaurant__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 100%;
    column-gap: 40px;
  }
  .restaurant__container {
    width: 350px;
  }

  /* Responsive for Restaurant Page */
  .menu {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    transform: translateY(340px);
  }
  .menu__header {
    margin-top: 10px;
    justify-content: space-around;
  }

  /* fex Container with all Dishes */
  /* responsive For Footer Display */
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  .flex-responsive {
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .flex-responsive .menu-container {
    width: 420px;
  }
}
@media screen and (min-width: 800px) {
  .footer__links {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
