/* Process button */
@mixin listButton {
    padding:0;
    width:100%;
    height:60px;
    border-radius: 15px;
    background-color: $buttonBackground;
    box-shadow: $btn-shadow;
} 

/* Explore Button*/
@mixin btn-gradient {
    margin:20px 0;
    border-radius: map-get($border-radius, RestSection);
    width: auto;
    padding:0 20px;
    height: 50px;
    border:none;
    background:$background-gradient;
    box-shadow: $btn-shadow;
    color:map-get($Palette, GradientButtonText);
    
    
        &:hover {
            opacity:0.80;
            cursor:pointer; 
            box-shadow:3px 3px 7px 3px  grey;
            transition:map-get($durations, ShadowHover);    
            }
}

             