


@keyframes test {
    0% {
              transform: scaleX(0);
    }
    100% {
            
              transform: scaleX(1);
    }
  }

  @keyframes RotateIcon {
      0% {
          rotate: 0;
      }

      100% { 
          rotate:360deg;
      }
  }
  