/* Heart transition button */    
.empty{
    max-width: 28px;
    position:absolute;
    stroke:black; 
    fill:white;

}
.full{
    max-width: 34px;
    position: relative;
    fill:url(#fill-heart);
    opacity:0;
        &:hover {   
            opacity:1;
            transition:0.5s; 
            cursor:pointer; 
        }
    }