/* Heart transition button */    
.empty{
    max-width: 28px;
    position:absolute;
    right:20px;
    stroke:black; 
    fill:white;

}
.full{
    max-width: 32px;
    right:18px;
    position: absolute;
    fill:url(#fill-heart);
    opacity:0;
        &:hover {   
            opacity:1;
            transition:$shortduration; 
            cursor:pointer; 
        }
    }