/* MENU BLOCK ANIMATION*/

@keyframes apparition {
    0% {
        transform:translatey();
        opacity:0;
    }

    
    100% {
        opacity:1;
        transform:translatey(-10%);   
         
        }
}
