/* BACKGROUND LOADER */
.loader {
        position: absolute;
        width: 100vw;
        height:100vh;
        @include flex-format;
        background-color:$whiteBg;
        animation: wrapper map-get($durations, Loader) linear;
        visibility: hidden;
        z-index:500;
        
     
        &__text {
        position: absolute;
        width: 100vw;
        height:100vh;
        @include flex-format;
        background-color:$whiteBg;
        }
    }

        .t {
            font-family: Shrikhand;
            font-size: map-get($font-sizes, LoaderText);
            color: $primary;
            letter-spacing: 15px;
            opacity: 0;
            animation:LoaderText map-get($durations, Loader) linear;
            &:nth-child(1) {
                animation-delay: 0.02s;
            }
            &:nth-child(2) {
                animation-delay: 0.04s;
            }
            &:nth-child(3) {
                animation-delay: 0.06s;
            }
            &:nth-child(4) {
                animation-delay: 0.08s;
            }
            &:nth-child(5) {
                animation-delay: 0.10s;
            }
            &:nth-child(6) {
                animation-delay: 0.12s;
            }
            &:nth-child(7) {
                animation-delay: 0.14s;
            }
            &:nth-child(8) {
                animation-delay: 0.16s;
            }
            &:nth-child(9) {
                animation-delay: 0.18s;
            }
            &:nth-child(10) {
                animation-delay: 0.20s;
            }
            &:nth-child(11) {
                animation-delay: 0.22s;
            }
            
    }
       

/* WRAPPER ANIMATION */
@keyframes wrapper {
    0% {
        visibility: visible;   
    }

    100% {
        visibility: visible; 
    }
}



@keyframes LoaderText {
    0% {
        color:$secondary;
        text-shadow: 0 0 7px 2px $secondary; 
    }

    25% {
        opacity:1;
    }

    50% {
        color:$tertiaty;
        text-shadow: $tertiaty; 
    }

    90% {
       color:$primary;
       text-shadow: none;
    }

    100% {
        color:$secondary;
        text-shadow: 0 0 7px 2px $secondary;
        opacity:1;    
    }

}

