/* BACKGROUND LOADER */
.loader {
        position: absolute;
        width: 100vw;
        height:100vh;
        @include flex-format;
        background-color:$whiteBg;
        animation: wrapper map-get($durations, Loader) linear;
        visibility: hidden;
        z-index:500;       
     
        &__text {
        position: absolute;
        width: 100vw;
        height:100vh;
        @include flex-format;
        background-color:colors(BGWhite);
        }
    }

        .t {
            font-family: Shrikhand;
            font-size: map-get($font-sizes, LoaderText);
            color: map-get($Palette, Primary);
            letter-spacing: 15px;
            opacity: 0;
            animation:LoaderText map-get($durations, Loader) linear;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                  animation-delay:(#{$i*0.05s}); 
                }
              }       
    }
       
/* WRAPPER ANIMATION */
@keyframes wrapper {
    0% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

@keyframes LoaderText {
    0% {
        color:colors(Secondary);
        
    }

    25% {
        opacity:1;
    }

    50% {
        color:colors(Tertiary);
         
    }

    90% {
       color:colors(Primary);
       
    }

    100% {
        color:colors(Secondary);
        
        opacity:1;    
    }
}

