/* haeder with logo */
#fixed {
    width: 100%;
    height: 100%;
    position:fixed;
}
/* back arrow */
.back {
    height:50px;
    @include flex-format;
    left: 20px;
    position: absolute;  
}
/* background image display */
.page-header {
    & img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        position: relative;
        }
}
/* main container display*/
.menu {
    position: absolute;
    width: 100%;
    height: auto;
    border-top-left-radius: map-get($border-radius, RestSection);
    border-top-right-radius: map-get($border-radius, RestSection);
    transform:translateY(35%);
    background-color: $background-section;
    display: flex;
    flex-direction: column;
        &__header {
            margin:0 auto;
            margin-bottom:50px;
            width: 90%;
            height: 50px;
            @include flex-format;
            justify-content: space-between; 
        }
}

/* Type of dishes titles with green underline */
.menu-container{   
    margin:0 auto;
    width:90%;
    height: auto;
    &__firstHead {
            @include titleMenu;
        
            &::after {
               @include underline;
                } 
        } 
    
}

/* button style & display */
.list-items {
    opacity:0;
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    animation:apparition map-get($durations, Apparition) ease-out forwards;
        /* boucle for delay between the dishes containers */
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay:map-get($durations, AnimDelay) * $i;}
            }
            
            &__button { 
                @include listButton;
                @include flex-format;
                justify-content: space-between;
              
                &:hover {
                    box-shadow: $shadowHover;
                    cursor:pointer;
                    & .checkbox {
                       /* transition with check */
                        transform-origin:right;
                        width: 100px;
                        transition:
                        map-get($durations, CheckButton) 
                        cubic-bezier(.18,.74,.81,1.09);
                        & i {
                            color:white;
                            transform:rotate($rotateDeg);
                            transition: all 
                            map-get($durations, CheckButton) 
                            ease-in-out;}
                        } 
                    } 
                }
    /* button content */       
            &__flexcontent {
                @include positionButtonMenu;
                width:50px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content:space-around;
                    &--bold {
                        width: 100%;
                        @include text-bold;
                        margin:0;
                        @include ellipse;
                    }
                        &--underline {
                            max-width: 90%;
                            margin:0;
                            color:$color-text;
                            @include ellipse;
                        }
                            &--price {
                                @include flex-format;
                                @include text-bold;
                                padding-right: 20px;
                                overflow:visible;
                            }

           
                     }
        }

/* check validation formatting */
.checkbox {
    
    width: 0;
    height: 100%;
    @include flex-format;
    background-color: $tertiaty;
    border-top-right-radius:map-get($border-radius, Button);
    border-bottom-right-radius: map-get($border-radius, Button);
    & i {
        color:transparent;
        font-size: $checkIcon;
    }
    
}
/* "Command" Button */
.command {
    width: 100%;
    margin:0 auto;
    @include flex-format;
    &__btn-gradient {
        @include btn-gradient;
    }
}

