
/* RADIUS MAP */

$border-radius: (
    boxNew:5px, 
    Card:20px, 
    Button:15px, 
    CircleButton:50%, 
    RestSection:30px
    );

$durations: (
    ShadowHover:0.3s,
    Heart:0.3s,
    Steps:0.3s,
    AnimDelay:0.5s,
    CheckButton:0.6s,
    Apparition:1s,
    Loader:2s
)

