
/* RADIUS MAP */

$border-radius: (
    boxNew:5px, 
    Card:20px, 
    Button:15px, 
    CircleButton:50%, 
    RestSection:30px
    );

/* DURATIONS FOR TRANSISITIONS / ANIMATIONS / HOVER EFFECT MAP */
$durations: (
    LinkHover:0.3s,
    ShadowHover:0.3s,
    Heart:0.3s,
    Steps:0.3s,
    AnimDelay:0.5s,
    CheckButton:0.6s,
    Apparition:1s,
    Loader:3s
);

/* FONT-SIZES MAP */ 
$font-sizes: (
    NumberProcess:12px,
    ProcessHeading:26px,
    ProcessSecondary:22px,
    Paragraph:16px,
    MenuItem:18px,
    GradientButton:16px,
    IconProcess:20px,
    SectionHeading:22px, 
    CheckIcon:24px,
    LoaderText:30px,
    LoaderTextResponsive:60px
);

/* MAIN COLORS PALETTE */
$Palette: (
    Primary: #9256dc,
    Secondary: #FF79DA,
    SecondaryLighten:#fffafe,
    ProcessButtonHover:#d6c0f2,
    Tertiary: #99E2D0,
    NewBoxText:#31af90,
    GreyText: #b1afaf,
    LocalisationSection: #dbd7d7,
    BackgroundSection: #f7f7f7,
    ProcessButtonBG: #f7f7f7,
    BGWhite: #fff,
    GradientButtonText: #fff,
    FooterLinks:#fff,
    FooterBg:#000000,
    Input: #000000
);


