/* Flex Format PreStyle*/
@mixin flex-format {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Title Menu Style */
@mixin text-bold {
    font-weight: bold;
    font-size: 16px;
}

/* Process step stlye */
@mixin panel-button {
    @include flex-format;
        height: 50px;
        margin-bottom: 20px;
        width: 50%;
        padding-right: 70px;
        border-radius: map-get($border-radius, Button);
        box-shadow: $btn-shadow;
        cursor:pointer;
        position: relative;
        &:hover {
            background: lighten($color: $primary, $amount: 35%);
            opacity:0.8;
            transition:map-get($durations, Steps) ease-in;
            box-shadow:2px 5px 10px grey;   
        }
}
/* Step Number in process button */
@mixin btn-number {
    @include flex-format;
    width: 25px;
    height: 25px;
    border-radius: map-get($border-radius, CircleButton);
    background-color: $primary;
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    overflow: visible;
}
/* Icon in process button */
@mixin process-icon {
    width: 20px;
    @include flex-format;
    position:relative;
    color:$color-text;
    margin:0 15px;
    font-size: 1.3em;
}
/* Pics display in restaurants cards display*/
@mixin restaurant-pic {
    width:100%;
    max-height: 220px;
    object-fit: cover;
    border-top-left-radius: map-get($border-radius, Card);
    border-top-right-radius: map-get($border-radius, Card);
}
/* Shadow when hover with ligthen color background */
@mixin boxShadowHover {
    box-shadow: $shadowHover;
    cursor:pointer;
    transition:map-get($durations, ShadowHover);
    background-color: $secondaryLight;
}

/* menu Margin & padding preformatting */
@mixin positionButtonMenu {
    margin:0;
    padding-left: 20px;
}
/* text menu formatting*/
@mixin ellipse {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
/* underline for Type of dishes in menu */
@mixin underline {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: $tertiaty;
}
/* Type of Dishes Title Style*/
@mixin titleMenu {
    text-transform: uppercase;
    color:$color-text;
    font-size: 20px;
}