/* GLOBAL VARIABLES*/

$primary: hsl(267, 66%, 60%);
$secondary: hsl(317, 100%, 74%);
$tertiaty: hsl(165, 56%, 74%);
$whiteBg:#fff;

/* Button and boxes shadows*/
$btn-shadow: 2px 4px 8px rgb(177, 175, 175);
$shadowHover: 2px 4px 8px 3px rgb(177, 175, 175);

/* grandient color for Explore and command button */
$background-gradient:linear-gradient( 170deg,rgb(255, 121, 218),rgb(147, 86, 220));

/* Menu sections*/
$items:3;

/* Rotation Degrees */
$rotateDeg:720deg;

/* RESPONSIVE BREKPOINT */
$mediumScreen:800px;
$largeScreen:1000px;


