$primary: #9356DC;
$secondary: #FF79DA;
$secondaryLight:lighten($secondary,25%);
$tertiaty: #99E2D0;
$color-text: rgb(177, 175, 175);

$btn-shadow: 2px 4px 8px $color-text;
$shadowHover: 2px 4px 8px 3px $color-text;
$buttonBackground:rgb(247, 248, 248);
$whiteBg:#fff;

$background-section:lighten($color: rgb(223, 223, 223), $amount: 10);
$background-gradient:linear-gradient( 170deg,rgb(255, 121, 218),rgb(147, 86, 220));

/* Animations Durations */
$longduration: 3s;
$mediumduration: 1s;
$shortduration:0.5s;
$transitionduration:0.3s;


$items:3;
$anim-delay:0.5;

/* radius */
$radius: 15px;